/* body styling */
body {
    margin: 0;
    padding: 0;
    background-color: #191D28;
    font-family: 'Roboto Mono', monospace !important;
}

/*********************************** main styling ***********************************/
/* CSS Styles for the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 15%;
}

/* CSS Styles for the table */
#dataTable {
    width: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
    border-collapse: collapse;

}

/* Styles for table headers */
th {
    padding: 8px;
    color: #818389;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

/* Styles for table cells */
td {
    padding: 8px;
    font-size: large;
    font-weight: bold;
    line-height: 1.5;
    padding: 10px;
}

tr {
    background-color: #2E3241;
    border-radius: 16px;
    color: white;
}

/*********************************** Footer styling ***********************************/
.footerDiv {
    display: grid;
    /* Two columns: first column takes remaining space, second column adjusts to content */
    color: #818389;
    grid-template-columns: 1fr auto;
    padding: 16px;
}
hr{
    color: #818389;
}

.Copyright {
    grid-column: 1;
    /* First column */
    display: flex;
    gap: 20px;
}

.footerDiv div p {
    grid-column: 2;
    /* Second column */
    text-align: right;
}

/*********************************** Header styling ***********************************/
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 25px 30px 0px;
}

.img {
    flex: 1;
    text-align: left;
}

#button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: left;
}

#telegram {
    display: flex;
    justify-content: end;
    flex: 1;
    text-align: right;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn {
    background: #3DC6C1;
    background-image: -webkit-linear-gradient(top, #3DC6C1, #3DC6C1);
    background-image: -moz-linear-gradient(top, #3DC6C1, #3DC6C1);
    background-image: -ms-linear-gradient(top, #3DC6C1, #3DC6C1);
    background-image: -o-linear-gradient(top, #3DC6C1, #3DC6C1);
    background-image: linear-gradient(to bottom, #3DC6C1, #3DC6C1);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}

.btn1 {
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    background: #2E3241;
    padding: 10px 20px 10px 20px;
    border: none;
}

/*********************************** toggle styling ***********************************/
.white {
    background-color: white;
}

.whiteButton {

    color: black !important;

    background: #F8F9FA !important;

}

.whiteTable {
    color: black !important;

    background: #F8F9FA !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2E3241;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #3DC6C1;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #F8F9FA;
}

input:focus+.slider {
    box-shadow: 0 0 1px #3DC6C1;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ********************************Section DIV************************ */
.sectionDiv {
    color: #818389;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

/* *******************************responsive for tablets************************ */
@media screen and (max-width: 1024px) {
    #nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .sectionDiv {
        padding-top: 8%;
    }
}

/* *******************************responsive for tablets************************ */
@media screen and (max-width: 600px) {
    #nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        padding-left: 400px;
    }

    .sectionDiv {
        padding-top: 20%;
        margin-left: 10%;
        text-align: center;
        width: 600px;
    }

    .container {
        margin-left: 300px;
    }
    .footerDiv{
        display: grid;
        color: #818389;
        /* grid-template-columns: 1fr auto; */
        padding: 16px;
    }
    hr{
        width: 710px;
    }
    .Copyright {
        grid-column: 1;
        /* First column */
        display: flex;
        gap: 20px;
    }
    
    .Support p {
        grid-column: 2;
        /* Second column */
        text-align: right;
        margin-left: 390px;
    }
}